NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDMMMYyamkxlz_Ot13_MQz4IDgV3dhrKMo
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=rol-plus-erp.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=rol-plus-erp
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=rol-plus-erp.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=230996545595
NEXT_PUBLIC_FIREBASE_APP_ID=1:230996545595:web:3bf7b9602f56ab038a0c1e# Build cache fix
